<?xml version="1.0" encoding="utf-8"?>
<Configuration status="info">
    <Properties>
        <!-- Please change your own path of the log file here -->
        <!-- <Property name="logdir">/Users/kong/Downloads/logs</Property> -->
        <!-- Or use the relative path -->
        <Property name="logdir">./logs</Property>
        <Property name="logfile">tenio-game</Property>
        <Property name="logfile-error">tenio-game-error</Property>
        <Property name="layout">%d [%t] %-5level %logger{36} - %m%n</Property>
        <!-- Logging level: trace -included-> debug -included-> info -included-> error -->
        <Property name="level">debug</Property>
    </Properties>

    <Appenders>

        <Console name="console-log">
            <PatternLayout pattern="${layout}"/>
        </Console>

        <RollingFile name="all-log"
                     fileName="${logdir}/${logfile}.log"
                     filePattern="${logdir}/${logfile}.%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${layout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="error-log"
                     fileName="${logdir}/${logfile-error}.log"
                     filePattern="${logdir}/${logfile-error}.%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${layout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>

        <Logger name="io.netty" level="warn" additivity="false">
            <AppenderRef ref="console-log"/>
            <AppenderRef ref="all-log"/>
            <AppenderRef ref="error-log"/>
        </Logger>

        <Logger name="org.eclipse.jetty" level="warn"
                additivity="false">
            <AppenderRef ref="console-log"/>
            <AppenderRef ref="all-log"/>
            <AppenderRef ref="error-log"/>
        </Logger>

        <Root level="${level}">
            <AppenderRef ref="console-log"/>
            <AppenderRef ref="all-log"/>
            <AppenderRef ref="error-log"/>
        </Root>

    </Loggers>
</Configuration>
