<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
  <Appenders>
    <Console name="NullConsole" target="SYSTEM_OUT">
      <ThresholdFilter level="off" onMatch="DENY" onMismatch="DENY"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="debug" additivity="false">
      <AppenderRef ref="NullConsole"/>
    </Root>
  </Loggers>
</Configuration>
